/* &display=swap */

@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-Italic.woff2') format('woff2'), url('../fonts/MontserratAlternates-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'), url('../fonts/MontserratAlternates-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-BoldItalic.woff2') format('woff2'), url('../fonts/MontserratAlternates-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'), url('../fonts/MontserratAlternates-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body{
	font-family: "Fira Sans Condensed", sans-serif;

	font-size: 14px;
	color: black;
	line-height: 1.2;
}
[class*="container"] {
	margin: 0px 15px;
}

img{
	display: block;
	margin: auto;
	padding: 10px 0px;
	width: 500px;
}
.logo {
	display: block;
	margin: auto;
	width: 150px;
}
.block, h3, h2, p{
	text-align: center;
}
.subtitle {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.title {
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1px;
}
.text {
	font-family: "Montserrat Alternates", sans-serif;
	margin: 10px 0px;
}
.geometry{
	font-weight: 700;
	text-shadow: 2px 2px 2px yellow;
}
.brain {
	text-decoration: underline;
	font-weight: 700;
}
.brain span {
	color: red;
}
.roval span {
	font-weight: 700;
	font-style: italic;
}
.button {
	display: inline-block;
	margin: 0px 10px 10px 10px;
	padding: 5px;
	background-color: grey;
	border-radius: 3px;
	color: white;
}
.footer {
	background-color: lightgrey;
}
.list {
	text-align: center;
	padding: 5px 0px;
}
.list-item {
	margin: 5px 0px;
	letter-spacing: 1px;
}
.credit {
	font-weight: 700;
	font-style: italic;
}